# 
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/**/__pycache__/

/docker/mysql/data/*
/app/stock/
/app/env/
/app/common/keys/*
/app/static/vendor/*
/docker/python/env/*
/test/

*/test.log
*/batch.log
*/**/*.log

.idea/
.github_old/

app/common/services/pyautogui/dom/*.txt
app/common/services/pyautogui/temporary/*

